<!-- #######  HEY, I AM THE SOURCE EDITOR! #########-->
<h1 style="color: #5e9ca0;">Evaluation Report</h1>
<p>{{today_date}} - {{now_time}}</p>
<h2 style="color: #2e6c80;">Grades:</h2>
<ul style="list-style-type: circle;">
<li style="text-align: left;">{{eval1}}: {{grade1}} ({{score1}})</li>
<li style="text-align: left;">{{eval2}}: {{grade2}} ({{score2}})</li>
<li style="text-align: left;">{{eval3}}: {{grade3}} ({{score3}})</li>
<li style="text-align: left;">{{eval4}}: {{grade4}} ({{score4}})</li>
<li style="text-align: left;">{{eval5}}: {{grade5}} ({{score5}})</li>
<li style="text-align: left;">{{eval6}}: {{grade6}} ({{score6}})</li>
<li style="text-align: left;">{{eval7}}: {{grade7}} ({{score7}})</li>
</ul>
<p>&nbsp;</p>
<h2 style="color: #2e6c80;">Eval Breakdown:</h2>
<p><strong>{{eval1}}</strong></p>
<ol>
<li>{{scenario_1_1}}: {{grade_1_1}} ({{score_1_1}})</li>
</ol>
<p><strong>{{eval2}}</strong></p>
<ol>
<li>{{scenario_2_1}}: {{grade_2_1}} ({{score_2_1}})</li>
<li>{{scenario_2_2}}: {{grade_2_2}} ({{score_2_2}})</li>
<li>{{scenario_2_3}}: {{grade_2_3}} ({{score_2_3}})</li>
<li>{{scenario_2_4}}: {{grade_2_4}} ({{score_2_4}})</li>
</ol>
<p><strong>{{eval3}}</strong></p>
<ol>
<li>{{scenario_3_1}}: {{grade_3_1}} ({{score_3_1}})</li>
</ol>
<p><strong>{{eval4}}</strong></p>
<ol>
<li>{{scenario_4_1}}: {{grade_4_1}} ({{score_4_1}})</li>
</ol>
<p><strong>{{eval5}}</strong></p>
<ol>
<li>{{scenario_5_1}}: {{grade_5_1}} ({{score_5_1}})</li>
</ol>
<p><strong>{{eval6}}</strong></p>
<ol>
<li>{{scenario_6_1}}: {{grade_6_1}} ({{score_6_1}})</li>
</ol>
<p><strong>{{eval7}}</strong></p>
<ol>
<li>{{scenario_7_1}}: {{grade_7_1}} ({{score_7_1}})</li>
<li>{{scenario_7_2}}: {{grade_7_2}} ({{score_7_2}})</li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>