<!-- #######  HEY, I AM THE SOURCE EDITOR! #########-->
<h1 style="color: #5e9ca0;">Evaluation Report</h1>
<p>{{today_date}} - {{now_time}}</p>
<h2 style="color: #2e6c80;">Grades:</h2>
<ul style="list-style-type: circle;">
<li style="text-align: left;">Control: {{grade1}} ({{score1}})</li>
<li style="text-align: left;">Foraging: {{grade2}} ({{score2}})</li>
<li style="text-align: left;">Survival: {{grade3}} ({{score3}})</li>
<li style="text-align: left;">Combat: {{grade4}} ({{score4}})</li>
<li style="text-align: left;">Hostile Evasion: {{grade5}} ({{score5}})</li>
</ul>
<p>&nbsp;</p>
<h2 style="color: #2e6c80;">Eval Breakdown:</h2>
<p><strong>Control</strong></p>
<ol>
<li>{{scenario_1-1}}: {{grade_1-1}} ({{score_1-1}})</li>
<li>{{scenario_1-2}}: {{grade_1-1}} ({{score_1-2}})</li>
</ol>
<p><strong>Foraging</strong></p>
<ol>
<li>{{scenario_2-1}}: {{grade_2-1}} ({{score_2-1}})</li>
<li>{{scenario_2-2}}: {{grade_2-1}} ({{score_2-2}})</li>
</ol>
<p><strong>Survival</strong></p>
<ol>
<li>{{scenario_3-1}}: {{grade_3-1}} ({{score_3-1}})</li>
<li>{{scenario_3-2}}: {{grade_3-1}} ({{score_3-2}})</li>
</ol>
<p><strong>Combat</strong></p>
<ol>
<li>{{scenario_4-1}}: {{grade_4-1}} ({{score_4-1}})</li>
<li>{{scenario_4-2}}: {{grade_4-1}} ({{score_4-2}})</li>
</ol>
<p><strong>Hostile Evasion</strong></p>
<ol>
<li>{{scenario_5-1}}: {{grade_5-1}} ({{score_5-1}})</li>
<li>{{scenario_5-2}}: {{grade_5-1}} ({{score_5-2}})</li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>